fieldset {
  margin: 0.9%;
  width: 90%;
}

label {
  display:inline-flex;
  vertical-align:top;
  width: 500px;
}
input{
  width: auto;
}
.my-name {
  color: blue;
  text-align: center;
  width: 30%;
}
