.container{
    width: 50%; 
    margin:auto; 
    border-radius: 25px; 
    border: solid green 1px; 
    background-color: #CCEEB9;
}
h2{
    margin: 20px;
}
p{
    text-align: center;
}
form{
    margin: 20px; background-color: white; border:1px solid green; padding:10px;
}
input, textarea, select{
    display: block;
    margin-top: -20px;
    margin-left: 190px;
    margin-bottom: 10px;
}

label{
    padding-right: 3.5em;
}
fieldset{
    margin-top: 10px;
}